/* About us, first Half */
.placeholder {
  height: 180px;
}

.about-text {
  width: 73%;
  background-color: rgb(255, 255, 255, 0.7);
  border: 1px solid var(--darkblue);
  backdrop-filter: blur(3px);
}

.about1 {
  position: relative;
  display: flex;

  img {
    width: 70%;
  }
}

.text1 {
  position: absolute;
  top: 27%;
  right: 0;
}

.about-us-2 {
  width: 100%;
  background-color: var(--lightblue);
}

.about2 {
  display: flex;
  position: relative;
  justify-content: flex-end;

  img {
    width: 70%;
  }
}

.text2 {
  position: absolute;
  top: 27%;
  left: 0;
  width: 70%;
}

/* ========================== */
/* Testimonials, second Half */

.review {
  color: var(--darkblue);

  .fa-star,
  .fa-star-half {
    color: var(--medblue);
  }
}

.steve {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 2rem auto;
}

.c-card {
  border: 1px solid var(--darkblue);
  padding: 2rem;
  background-color: rgb(255, 255, 255, 0.6);
  backdrop-filter: blur(3px);
}

.c-card-title {
  color: var(--medblue);
  text-transform: uppercase;
  font-size: 1.3rem;
}

/* Media Queries for whole page */
@media (width < 1400px) {
  .steve {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width < 1200px) {
  .text1,
  .text2 {
    position: absolute;
    top: 15%;
  }

  .about-us-2 {
    min-height: 556px;
  }
}

@media (width < 992px) {
  .steve {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-us-1 {
    min-height: 650px;
  }

  .about-us-2 {
    min-height: 580px;
  }
}

@media (width < 768px) {
  .steve {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-text {
    width: 100% !important;
    position: static !important;
    margin-top: 20px;
  }

  .about1,
  .about2 {
    display: block !important;
  }

  .about1 img,
  .about2 img {
    width: 100%;
  }

  .text2 {
    margin-bottom: 20px;
  }

  .placeholder {
    height: 273px;
  }
}
