/* Form styling */
.placeholder {
  height: 180px;
}

.contact-form {
  width: 80%;
  background-color: rgb(255, 255, 255, 0.8);
  border: 1px solid var(--darkblue);
  backdrop-filter: blur(3px);
}

.contact {
  position: relative;
  display: flex;

  img {
    width: 70%;
  }
}

.contact-form {
  position: absolute;
  top: 15%;
  right: 0;
}

input,
textarea {
  border: 1px solid var(--darkblue);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  padding: 0.75rem;
  font-family: inherit;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
}

/* Focus states */
input:focus,
textarea:focus {
  outline: none;
  border-color: var(--medblue);
}

label {
  display: block;
  text-align: left;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--medblue);
}

.submit-button {
  padding: 1rem 2rem;
  border: 1px solid var(--darkblue);
  border-radius: 4px;
  text-transform: uppercase;
  color: var(--medblue);
  background-color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: white;
    background-color: var(--darkblue);
    border-color: var(--darkblue);
  }
}

/* Form container */
.formular {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 8px;
}

/* media queries */

@media (width < 1400px) {
  .contact-form {
    position: absolute;
    top: 8%;
  }
}

@media (width < 1200px) {
  .wrapper {
    min-height: 800px;
  }

  .contact-form {
    position: absolute;
    top: 12%;
  }
}

@media (width < 992px) {
  .wrapper {
    min-height: 780px;
  }
}

@media (width < 768px) {
  .contact-form {
    width: 100% !important;
    position: static !important;
    margin-top: 20px;
  }

  .contact {
    display: block !important;
  }

  .contact img {
    width: 100%;
  }

  .placeholder {
    height: 273px;
  }
}
