:root {
  --darkblue: rgb(38, 46, 54);
  --cream: rgb(240, 236, 229);
  --lightblue: rgb(220, 227, 235);
  --medblue: rgb(137, 157, 179);
}

body {
  font-family: "Lato", sans-serif !important;
  color: var(--darkblue);
  line-height: 1.8rem;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  color: var(--medblue);
}

h2 {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--medblue);
}
